USE [master]
GO
/****** Object:  Database [SportsShop]    Script Date: 04.11.2024 16:29:53 ******/
CREATE DATABASE [SportsShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SportsShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SportsShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SportsShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SportsShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SportsShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SportsShop]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 04.11.2024 16:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 04.11.2024 16:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Discount] [decimal](2, 2) NULL,
	[IsSubscribed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeArchive]    Script Date: 04.11.2024 16:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeArchive](
	[NoteDate] [date] NULL,
	[Note] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 04.11.2024 16:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[PositionID] [int] NULL,
	[HireDate] [date] NULL,
	[Gender] [char](1) NULL,
	[Salary] [decimal](7, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Makers]    Script Date: 04.11.2024 16:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Makers](
	[MakerID] [int] IDENTITY(1,1) NOT NULL,
	[MakerName] [nvarchar](50) NULL,
	[MakerCountry] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MakerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 04.11.2024 16:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[PositionID] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 04.11.2024 16:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[CategoryID] [int] NULL,
	[AvailableQuantity] [int] NULL,
	[NetPrice] [decimal](7, 2) NULL,
	[SellPrice] [decimal](7, 2) NULL,
	[MakerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalersProducts]    Script Date: 04.11.2024 16:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalersProducts](
	[SaleID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[SaleQuantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 04.11.2024 16:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NULL,
	[EmployeeID] [int] NULL,
	[SaleDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1, N'Clothes')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (2, N'Shoes')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (3, N'Balls')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientID], [FirstName], [MiddleName], [LastName], [Email], [Phone], [Discount], [IsSubscribed]) VALUES (1, N'Blanch', N'Una', N'Billows', N'ubillows0@icio.us', N'+48 (142) 509-1290', CAST(0.87 AS Decimal(2, 2)), 1)
INSERT [dbo].[Clients] ([ClientID], [FirstName], [MiddleName], [LastName], [Email], [Phone], [Discount], [IsSubscribed]) VALUES (2, N'Micheil', N'Yule', N'Castri', N'ycastri1@squarespace.com', N'+52 (389) 580-7961', CAST(0.21 AS Decimal(2, 2)), 0)
INSERT [dbo].[Clients] ([ClientID], [FirstName], [MiddleName], [LastName], [Email], [Phone], [Discount], [IsSubscribed]) VALUES (3, N'Mathian', N'Maynard', N'Sainteau', N'msainteau2@homestead.com', N'+233 (402) 120-0153', CAST(0.49 AS Decimal(2, 2)), 0)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
INSERT [dbo].[EmployeeArchive] ([NoteDate], [Note]) VALUES (CAST(N'2024-11-04' AS Date), N'An employee with ID12 - Chas Claybourne Becom was deleted')
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [MiddleName], [LastName], [PositionID], [HireDate], [Gender], [Salary]) VALUES (1, N'Ranique', N'Joyous', N'Fishley', 3, CAST(N'2021-04-02' AS Date), N'F', CAST(91283.18 AS Decimal(7, 2)))
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [MiddleName], [LastName], [PositionID], [HireDate], [Gender], [Salary]) VALUES (2, N'Jere', N'Gal', N'Sandilands', 2, CAST(N'2020-10-20' AS Date), N'M', CAST(51190.12 AS Decimal(7, 2)))
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [MiddleName], [LastName], [PositionID], [HireDate], [Gender], [Salary]) VALUES (3, N'Thorin', N'Kaiser', N'Lanfere', 1, CAST(N'2022-06-10' AS Date), N'M', CAST(52425.71 AS Decimal(7, 2)))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Makers] ON 

INSERT [dbo].[Makers] ([MakerID], [MakerName], [MakerCountry]) VALUES (1, N'Hessel-Schumm', N'Belarus')
INSERT [dbo].[Makers] ([MakerID], [MakerName], [MakerCountry]) VALUES (2, N'Johnston Inc', N'Belgium')
INSERT [dbo].[Makers] ([MakerID], [MakerName], [MakerCountry]) VALUES (3, N'Roberts Group', N'Belarus')
SET IDENTITY_INSERT [dbo].[Makers] OFF
GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([PositionID], [PositionName]) VALUES (1, N'Manager')
INSERT [dbo].[Positions] ([PositionID], [PositionName]) VALUES (2, N'Cashier')
INSERT [dbo].[Positions] ([PositionID], [PositionName]) VALUES (3, N'Assistant')
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [AvailableQuantity], [NetPrice], [SellPrice], [MakerID]) VALUES (1, N'Rubber', 2, 1237, CAST(53318.23 AS Decimal(7, 2)), CAST(53319.23 AS Decimal(7, 2)), 2)
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [AvailableQuantity], [NetPrice], [SellPrice], [MakerID]) VALUES (2, N'Vinyl', 4, 3688, CAST(59455.16 AS Decimal(7, 2)), CAST(81478.23 AS Decimal(7, 2)), 2)
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [AvailableQuantity], [NetPrice], [SellPrice], [MakerID]) VALUES (3, N'Steel', 4, 3264, CAST(90275.60 AS Decimal(7, 2)), CAST(90276.60 AS Decimal(7, 2)), 2)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[SalersProducts] ([SaleID], [ProductID], [SaleQuantity]) VALUES (1, 7, 1)
INSERT [dbo].[SalersProducts] ([SaleID], [ProductID], [SaleQuantity]) VALUES (1, 13, 1)
INSERT [dbo].[SalersProducts] ([SaleID], [ProductID], [SaleQuantity]) VALUES (1, 30, 1)
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([SaleID], [ClientID], [EmployeeID], [SaleDate]) VALUES (1, 28, 8, CAST(N'2024-01-23' AS Date))
INSERT [dbo].[Sales] ([SaleID], [ClientID], [EmployeeID], [SaleDate]) VALUES (2, 34, 7, CAST(N'2024-05-22' AS Date))
INSERT [dbo].[Sales] ([SaleID], [ClientID], [EmployeeID], [SaleDate]) VALUES (3, 19, 1, CAST(N'2023-09-18' AS Date))
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([PositionID])
REFERENCES [dbo].[Positions] ([PositionID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([MakerID])
REFERENCES [dbo].[Makers] ([MakerID])
GO
ALTER TABLE [dbo].[SalersProducts]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[SalersProducts]  WITH CHECK ADD FOREIGN KEY([SaleID])
REFERENCES [dbo].[Sales] ([SaleID])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD CHECK  (([Discount]>=(0)))
GO
USE [master]
GO
